In [16]:
import pandas as pd
import numpy as np

In [17]:
df = pd.read_csv('Tweets_sentiment.csv')
df.sample(5)

,target,id,date,flag,user,text,text2,text3,hashtags,tokens,tokens_remove_stopwords,length_1,num_hashtags,sentiment_score
104533,0,2287044679,Mon Jun 22 17:16:30 PDT 2009,NO_QUERY,lolivia,...wish my ears would stop popping,wish my ears would stop popping,wish my would stop,[],"['wish', 'my', 'would', 'stop']","['wish', 'would', 'stop']",3,0,1.0
20165,0,1559872457,Sun Apr 19 12:15:49 PDT 2009,NO_QUERY,fauxtronic,@carthalis yeah i've only seen (not read) em...,yeah ive only seen not read empire of the sun ...,yeah only seen not read empire of the sun but ...,[],"['yeah', 'only', 'seen', 'not', 'read', 'empir...","['yeah', 'seen', 'read', 'empire', 'sun', 'rea...",9,0,5.0
297175,4,2063650988,Sun Jun 07 03:31:53 PDT 2009,NO_QUERY,chloevincent,@janiboink okay thanks,okay thanks,thanks,[],['thanks'],['thanks'],1,0,5.0
295325,4,1573771273,Tue Apr 21 02:46:50 PDT 2009,NO_QUERY,Happymask261,is at the library. just finished school. saw n...,is at the library just finished school saw nig...,is at the library just finished school saw las...,[],"['is', 'at', 'the', 'library', 'just', 'finish...","['library', 'finished', 'school', 'saw', 'last...",13,0,3.0
125249,0,1695186591,Mon May 04 05:27:41 PDT 2009,NO_QUERY,Sheenagerrard,anyone want to offer to do my exam for me 2mor...,anyone want to offer to do my exam for me 2mor...,anyone want to offer to do my exam for me i ju...,[],"['anyone', 'want', 'to', 'offer', 'to', 'do', ...","['anyone', 'want', 'offer', 'exam', 'cant']",5,0,1.0

In [18]:
conditions = [
    (df['sentiment_score'] == 1) | (df['sentiment_score'] == 2 | (df['sentiment_score'] == 3)),
    (df['sentiment_score'] == 4) | (df['sentiment_score'] == 5)
]

In [20]:
letters = ['0', '4']

In [21]:
df['score'] = np.select(conditions, letters)
df

,target,id,date,flag,user,text,text2,text3,hashtags,tokens,tokens_remove_stopwords,length_1,num_hashtags,sentiment_score,score
0,0,2059014670,Sat Jun 06 16:04:41 PDT 2009,NO_QUERY,patriciya,@pearl sayang di tayo blockmates. omg the cas...,sayang di tayo blockmates omg the cases are so...,di the are so,[],"['di', 'the', 'are', 'so']",['di'],1,0,3.0,0
1,4,1548317796,Fri Apr 17 20:37:23 PDT 2009,NO_QUERY,emma__watson,in... scotland twitters may be sparse for a w...,in scotland twitters may be sparse for a while...,in may be sparse for a while but i intend to d...,[],"['in', 'may', 'be', 'sparse', 'for', 'a', 'whi...","['may', 'sparse', 'intend', 'best']",4,0,3.0,0
2,0,1998735976,Mon Jun 01 19:02:28 PDT 2009,NO_QUERY,PinkTribble,why has the sciatic discomfort chosen to retur...,why has the sciatic discomfort chosen to retur...,why the sciatic discomfort chosen to return ju...,[],"['why', 'the', 'sciatic', 'discomfort', 'chose...","['sciatic', 'discomfort', 'chosen', 'return', ...",8,0,1.0,0
3,4,2063144198,Sun Jun 07 01:31:48 PDT 2009,NO_QUERY,Raycast,"@pembsdave lol, sounds like a good way to be! ...",lol sounds like a good way to be enjoy your no...,like a good way to be enjoy your no,[],"['like', 'a', 'good', 'way', 'to', 'be', 'enjo...","['like', 'good', 'way', 'enjoy']",4,0,4.0,4
4,0,1992040864,Mon Jun 01 08:05:55 PDT 2009,NO_QUERY,laurennicole514,about to go to work.,about to go to work,about to go to work,[],"['about', 'to', 'go', 'to', 'work']","['go', 'work']",2,0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
316640,0,1881534122,Fri May 22 04:55:25 PDT 2009,NO_QUERY,gqgoat,"the rain still persists here in gainesville, f...",the rain still persists here in gainesville fl...,the rain still here in hope not too many to ce...,[],"['the', 'rain', 'still', 'here', 'in', 'hope',...","['rain', 'still', 'hope', 'many', 'central', '...",9,0,2.0,0
316641,0,2190311283,Tue Jun 16 02:21:51 PDT 2009,NO_QUERY,starchild20,@stacijshelton thanks -i am looking for inspoi...,thanks i am looking for inspoiration and encou...,thanks i am looking for and encouragement at m...,[],"['thanks', 'i', 'am', 'looking', 'for', 'and',...","['thanks', 'looking', 'encouragement', 'mo', '...",5,0,5.0,4
316642,4,2187459719,Mon Jun 15 20:18:48 PDT 2009,NO_QUERY,ryking,"@rickydee55 i do have a reputation, don't i? s...",i do have a reputation dont i sorry,i do have a reputation dont i sorry,[],"['i', 'do', 'have', 'a', 'reputation', 'dont',...","['reputation', 'dont', 'sorry']",3,0,3.0,0
316643,0,2175490828,Mon Jun 15 01:08:06 PDT 2009,NO_QUERY,Vivicam,emma you tool! and to think i had to walk home...,emma you tool and to think i had to walk home ...,emma you tool and to think i had to walk home ...,[],"['emma', 'you', 'tool', 'and', 'to', 'think', ...","['emma', 'tool', 'think', 'walk', 'home', 'dar...",9,0,5.0,4
316644,0,2003979499,Tue Jun 02 07:28:10 PDT 2009,NO_QUERY,merel84,@mgardot i've been looking on the net but i ca...,ive been looking on the net but i cant find yo...,been looking on the net but i cant find your a...,[],"['been', 'looking', 'on', 'the', 'net', 'but',...","['looking', 'net', 'cant', 'find', 'coming', '...",10,0,4.0,4

In [ ]:
df.to_csv('Tweets_sentiment_convert_score_new.csv', index=False)